[Unit]
Description=Victus Control Backend Service
After=network.target

[Service]
ExecStart=/usr/bin/victus-backend
Restart=always
User=victus-backend
Group=victus

[Install]
WantedBy=multi-user.target