[Unit]
Description=Victus Control Backend Service
After=systemd-modules-load.service victus-healthcheck.service network.target
Wants=victus-healthcheck.service

[Service]
ExecStart=/usr/bin/victus-backend
Restart=always
RestartSec=5
User=victus-backend
Group=victus

[Install]
WantedBy=multi-user.target
